*.log
*.pot
*.pyc
*.sock
*.sock.lock
__pycache__/
local_settings.py
db.sqlite3
*.sqlite3
db.sqlite3-journal
media/
logs/
*/workspace.xml
.idea/
ultraenv
penv
.env
migrations/
static/
staticfiles/
backend/
base/
resourses/

celerybeat.pid